extends layout

block content
  h1= title
  p Welcome to #{title} 

  h2 I want ... TEST 933 (#{data}) ...TEST 2
    ul
        li.done Using stylus
        li.done Using Pug
        li.done Compile Pug
        li.done Compile CSS
        li.done Live refresh Changes
        li Compile JS with webpack
        li Use Babel for front-end JS
        li.done Use Babel and ES6 for node
        li.done Linting with severe rules
        li.done Lint on save
        ul
                li.done For production
                li.done For development
        li  Clean CSS and JS output for production
            ul
                li CSS
                li JS (see above)
                li  Assets, like fonts and images - They just stay where they are
