extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 I want ...
    ul
        li.done Using stylus
        li.done Using Pug
        li.done Compile Pug
        li.done Compile CSS
        li Live refresh Changes
        li Compile JS
        li Use Babel and ES6
        li Linting with severe rules
        li Lint on save
        li Use Babel for node code
        ul
                li For production
                li For development
        li.done  Clean CSS and JS output for production
            ul
                li.done CSS
                li JS
                li.done  Assets, like fonts and images 

        li Do I need this? Copy Functions in external js file and import!!
