body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

html {
  background-color: beige
  color: #ccc
}

.done{
  color: #123
  }

  .test{
    color: #3331
    }
